<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title>ChinaCache Billing System</title>
<link rel="StyleSheet" type="text/css" href="/css/bootstrap-responsive.css"  />
<link rel="StyleSheet" type="text/css" href="/css/bootstrap-responsive.min.css.css"  />
<link rel="StyleSheet" type="text/css" href="/css/bootstrap.css"  />
<link rel="StyleSheet" type="text/css" href="/css/bootstrap.min.css"  />

<script language="javascript" type="text/javascript" src="/js/bootstrap.js"></script>
<script language="javascript" type="text/javascript" src="/js/bootstarp.min.js"></script>

</head>
<body>
	
	 <img src="/images/logo.png" alt="">
  
  <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">苑天才</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">徐姐夫</a></li>
              <li><a href="#contact">根老师叔</a></li>
            </ul>
            <p class="navbar-text pull-right">Logged in as <a href="#">username</a></p>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    
    
    
    
   

 

	</body>
	</html>
	
