<style type="text/css">
<!-- 
	td {
		font-size: 15px;
		font-weight: bold;
	}
	input {
		border: 1px solid #B2AAAA;
		height: 22px;
		width: 200px;
	}
	input[type="submit"] {
		margin-top: 20px;
		margin-left: 3px;
		width: 285px;
		height: 50px;
		background-color: #484B4F;
		color: white;
		font-size: 20px;
		font-weight: bold;
		line-height: 50px;
	}
-->
</style>
<div style="width: 360px; margin: 100px auto;"> 
{% if form.errors %}
<p>Your username and password didnt match. Please try again.</p>
{% endif %}
<form method="post" action="/login/">
<table>
<tr>
<td>UserName:</td>
<td><input type="text" name="username"></td>
</tr>
<tr>
<td>PassWord:</td>
<td><input type="password" name="password"></td>
</tr>
</table>
<input type="submit" value="LOGIN" />
</form>
</div>

